header {
  line-height: 16px;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

p {
  font-size: 1.25rem;
}
.inspectionReport {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
}
.btngroup {
  display: flex;
}
.dataSection {
  border: 1px solid black;
  background-color: darkblue;
  color: white;
}
table {
  border: 1px solid black;
}
.detailsColumn {
  border: 1px solid black;
  width: 32px;
}
.imageColumn {
  border: 1px solid black;
  width: 168px;
  height: 168px;
}
.imageColumn > img {
  height: 100%;
  width: 100%;
  border: 1px solid black;

  object-fit: cover;
}
#test {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

canvas, img {
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
@media print {
  @page {
    size: auto;
    margin: 0mm;
    
  }
 
  html
  {
      background-color: #FFFFFF; 
      margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body
  {
      border: solid 1px blue ;
      margin: 10mm ; /* margin you want for the content */
  }
  table {
    max-width: 100%;
    height: 100%;
    page-break-after: always;
  }

  input {
    width: 90%;
  }
  .adding {
    display: none;
  }
}
